* {
    padding: 0rem;
    margin: 0rem;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

li {
  list-style-type: none;
}

main {
    background-color: #ffffff;
    color: #000000;
    padding: 0rem 4rem;
}

h1 {
    color: #27329b;
    padding: 3rem 0rem;
    font-size: 28px;
    font-weight: 800;
}

.dateStyle {
    padding: 1rem 0rem;
    font-weight: 700;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #EEEEEE;
    padding: 0.50rem;
    margin: 1rem 0rem;
}


.div-form-2 {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem 4rem;
}

.form-2 {
    width: 35%;
    background-color: #EEEEEE;
    padding: 1rem 2rem;
}
